.imgcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(50vw,500px);
    height: min(500px,50vh);
    margin:20px;
    padding: 20px;

}

img{
    height: 100%;
    width: 100%;
}